.container {
  color: white;
}
.navbar-color {
  background-color: rgba(31, 34, 118, 0.5);
  color: white;
}
.brand-color {
  color: white;
}
.imgSize {
  height: 40px;
  width: 40px;
}

.Weather-App {
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  top: 0;
  bottom: 0;

  background-color: rgba(31, 34, 118, 0.5);
  z-index: -5;
}
.weather {
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 10rem;
  background-color: rgba(124, 138, 216, 0.5);
}
.desc {
  font-size: 3rem;
}
#temp {
  font-size: 6rem;
}
